body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: #3d3d3d;
}

button {
  padding: 1em 2em;
  border: none;
  border-radius: 2em;
  color: white;
  background-color: #3d3d3d;
}
